#content{:style => "height: 330px;"}
  .ribbon
    %p{:style => "margin-left: 65px; padding-top: 7px;"} ¿Quieres sugerirnos a quien entrevistar?

  %form{:action => "/thanks", :method => "POST"}
    %input#s{:name => "nombre", :onblur => "if(this.value=='')this.value=this.defaultValue;", :onfocus => "if(this.value==this.defaultValue)this.value='';", :type => "text", :value => "Ingrese el nombre"}/    
    %input{:type => "submit", :value => "Enviar", :class =>"submit"}
    %p.ref_link    
      %a(href="/thanks") No Gracias
  #social
    %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?app_id=234312716620675&href=softwarecriollo.com&send=false&layout=standard&width=450&show_faces=true&action=like&colorscheme=light&font=arial&height=80", :style => "border:none; overflow:hidden; width:400px; height:80px;"}
    %a.twitter-share-button{"data-count" => "horizontal", :href => "http://twitter.com/share"} Tweet
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
